@import "_header";

h1 {
	color: green;
}

body {
	font-size: 20px;
	div {
		font-size: 20px;
	}
}
.block {
	&_item {
	}
}
.block_item {
	&__ {
	}
}
.block {
}
.block_item {
}
.block_item__ {
}
.red {
	color: red;
}
